.panel-default {
	float: left;
	width: 50%;
	text-align: center;
}

.panel-default .btn {
	margin-top: 1em;
	width: 8em;
}

h3 {
	float: left;
	color: aqua;
	width: 66%;
}

.clear {
	clear: both;
}

.signout {
	float: right;
	margin-top: 5px;
	margin-left: 10px
}

.container {
	background-color: black;
	padding-bottom: 5em;
	border-radius: 5px;
}

body {
	background-color: #303030;
}

table {
	background-color: lightgray;
}