<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Handling Form Submission</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
</head>
<body>
	<h1>Books</h1>
	<form th:object="${book}" th:action="@{/save}" action="#" method="post">
	<input type="text" th:field="*{author}"/>
	<input type="text" th:field="*{title}"/>
	<input type="text" th:field="*{isbn}"/>
	<input type="text" th:field="*{year}"/>
	<input type="submit" class="btn btn-success" value="save"></input>
	</form>
		<a class="btn btn-success" href="/booklist">Back</a>
</body>
</html>