<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Edit product</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
</head>
<body>
	<h1>Edit product</h1>
	<form th:object="${product}" th:action="@{../save}" action="#" method="post">
	<input type="hidden" th:field="*{id}" class="form-control"/>
	<input type="text" th:field="*{tuote}"/>
	<input type="text" th:field="*{lisatiedot}"/>
	<input type="number" th:field="*{maara}"/>
	<input type="submit" class="btn btn-info" value="save"></input>
	</form>
	<br></br>
	<br></br>
		<a class="btn btn-success" href="/ostoslista">Back</a>
</body>
</html>