<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Productlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
</head>
<body>
	<div class="col-md-4">
		<h1>Product list</h1>
		<br></br>
	</div>
	<div class="col-md-4">
		<h3 style="font-style:italic" th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Product</th>
				<th>Info</th>
				<th>Amount</th>
				<!-- hasRole('') / hasAuthority('') --> 
				<!-- hasRole -> InMemory -->
				<!-- hasAuthority -> User entities -->
				<th sec:authorize="hasAuthority('ADMIN')"></th>	
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${products}">
				<td th:text="${product.tuote}"></td>
				<td th:text="${product.lisatiedot}"></td>
				<td th:text="${product.maara}"></td>
				<!-- hasRole('') / hasAuthority('') -->
				<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-info" th:href="@{/edit/{id}(id=${product.id})}">Edit</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/delete/{id}(id=${product.id})}">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
	<a class="btn btn-success" href="/add">Add Book</a>
</body>
</html>